unit_tests:
  stage: test
  image:
    name: python:3.11.5
  cache:
    paths:
      - .venv
  before_script:
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
    - source `poetry env info --path`/bin/activate
  script:
    - poetry run pytest

docker_build_deploy:
  stage: deploy
  only:
    - main
  image:
    name: gcr.io/kaniko-project/executor:v1.14.0-debug
    entrypoint: [""]
  variables:
    CI_PROJECT_NAME: "api-gateway"
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"https://index.docker.io/v1/\":{\"auth\":\"$(printf "%s:%s" "${CI_DOCKER_USER}" "${CI_DOCKER_TOKEN}" | base64 | tr -d '\n')\"}}}}" > /kaniko/.docker/config.json
    - >
      if [ -z ${CI_COMMIT_TAG+x} ]; then
        /kaniko/executor \
          --context "${CI_PROJECT_DIR}" \
          --dockerfile "${CI_PROJECT_DIR}/Dockerfile" \
          --destination "docker.io/heigit/ca-${CI_PROJECT_NAME}:devel"
      else
        /kaniko/executor \
          --context "${CI_PROJECT_DIR}" \
          --dockerfile "${CI_PROJECT_DIR}/Dockerfile" \
          --destination "docker.io/heigit/ca-${CI_PROJECT_NAME}:devel" \
          --destination "docker.io/heigit/ca-${CI_PROJECT_NAME}:${CI_COMMIT_TAG}"
      fi