[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "climatoology"
version = "0.0.1"
authors = [
  { name="Maciej Adamiak", email="maciej.adamiak@heigit.org" },
  { name="Moritz Schott", email="moritz.schott@heigit.org" },
]
description = "This package provides the underlying functionality to implement Climate Action Operators and Plugins."
readme = "README.md"
requires-python = ">=3.11"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
  'pandas==2.0.3',
  'rasterio==1.3.8',
  'bibtexparser==1.4.0',
  'biblib==0.1.3',
  'marshmallow-dataclass==8.5.14',
  'minio==7.1.15',
  'numpy==1.25.2',
  'pika==1.3.2',
  'requests==2.31.0',
  'semver==3.0.1',
  'tifffile==2023.7.18',
  'tqdm==4.65.0',
]

[project.urls]
"Homepage" = "https://gitlab.gistools.geog.uni-heidelberg.de/climate-action/climatoology"
"Bug Tracker" = "https://gitlab.gistools.geog.uni-heidelberg.de/dashboard/issues"
